@import url('normalize.css');
@import url('fonts.css');
@import url('page-navigation.css');
@import url('tags.css');
@import url('logo.css');
@import url('main-article.css');
@import url('social-icons.css');
* {
    margin: 0;
    padding: 0;
}

body {
    outline: 1px black crimson;
    width: 100%;
    color: #69747c;
    font-family: Arial, sans;
    font-size: 13px;
}

body>header {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

body>header a {
    text-decoration: none;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
    display: grid;
    grid-row-gap: 20px;
    align-content: start;
}

main {
    grid-area: main;
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
    align-content: start;
}

.page-content {
    display: grid;
    grid-template-areas: ". header header. " "nav nav nav nav" ". main aside .";
    grid-template-columns: auto 640px 256px auto;
    /* grid-template-rows: 87px 107px; */
    grid-column-gap: 26px;
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.5;
    text-align: justify;
}

main>article {
    position: relative;
}

/* TODO */

.spinner {
    background: url("../images/loading.png") top no-repeat;
    height: 48px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}

.responsive {
    display: block;
    width: 100%;
    height: auto;
}

.article-info h2 {
    padding: 0;
    font-family: Cantarell;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 5px solid;
    color: rgb(103, 148, 183);
}

.article-info h2::before {
    margin-right: 6px;
    width: 30px;
    background: rgb(103, 148, 183);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.mark-question::before {
    content: '?';
}

.mark-exclamation::before {
    content: '!';
}

@media (max-width: 974px) {
    .page-content {
        grid-template-columns: auto 2.5fr 1fr auto;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .page-navigation {
        margin-bottom: 0;
    }
    .page-content {
        display: flex;
        flex-direction: column;
    }
    main>article {
        box-sizing: border-box;
        padding: 0 62px;
    }
    .page-navigation {
        /* justify-self: none; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .page-navigation .nav-item {
        display: flex;
        height: 50px;
        width: 44px;
    }
    .page-navigation .nav-menu,
    .page-navigation .nav-tags {
        display: none
    }
    .page-navigation .nav-about {
        order: -1;
    }
    .social {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        opacity: 1;
        filter: none;
    }
    .social a {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0 0 8px 3px;
    }
    .article-info {
        display: none;
    }
    .tags {
        padding: 30px 50px;
        justify-content: center;
    }
    .tags a {
        margin: 5px 20px 5px 0;
    }
}

@media (max-width: 768px) {
    .page-content {
        display: flex;
        flex-direction: column;
    }
    main>header {
        height: 53px;
    }
    .logo {
        font-size: 24px;
        padding: 9px;
    }
    .logo img {
        width: 35px;
        height: 34px;
    }
    main {
        padding: 16px;
    }
    .page-navigation {
        border-bottom: none;
        margin-bottom: 3px;
        display: flex;
        flex-direction: row;
    }
    .page-navigation ul {
        display: none;
    }
    .page-navigation .nav-item {
        display: flex;
        height: 50px;
        width: 44px;
    }
    .page-navigation .nav-menu {
        margin-left: auto;
        background: inherit;
    }
    .byline {
        justify-content: space-around;
    }
    aside,
    .about,
    .info {
        display: none;
    }
    .tags {
        padding: 0 49px;
    }
    .social {
        position: absolute;
        bottom: 0;
        /* left: 0; */
        /* flex-direction: column; */
        align-items: center;
        opacity: 1;
        filter: none;
    }
    main article h2 {
        text-align: center;
        background: rgba(226, 229, 232, 0.38);
    }
}