h1 {
    text-align: center;
}

table, form {
    margin: 20px auto;
    text-align: center;
}

td, th {
    width: 50px;
    padding: 2px 10px;
    text-align: right;
    font-size: 0.9em;
}

td:first-child {
    text-align: left;
    font-weight: 700;
}

td:last-child {
    text-align: center;
}

th {
    text-align: center;
}

thead {
    background: #82E0AA;
}

tbody tr:nth-child(2n) {
    background: gainsboro;
}