@import url("card-back-patterns.css");

body {
    background: #EAEDED;
}

.grid {
    border: 2px blue solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 110px;
    height: 150px;
    margin: 5px;
    perspective: 800px;
}

.opened .content {
    transform: rotateY(-180deg);
}

.card:not(.opened) .content:hover {
    transform: rotateY(-25deg);
}

.card.disabled {
    transform: rotate3d();
    visibility: hidden;
}

.card .content {
    /* background: blueviolet; */
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transform-style: preserve-3d;
    transition: 1s;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-family: Georgia;
    font-size: 64px;
    text-align: center;
    line-height: 150px;
    backface-visibility: hidden;
    cursor: pointer;
}

.card .back.default {
    background: #212F3D;
}

.card .front {
    transform: rotateY(180deg);
    background: white;
    color: black;
}