@import url("fonts.css");
@import url("card-back-patterns.css");
@import url("buttons.css");
@import url("cards.css");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(45deg, #dedede 2px, #dadada 3px, #dadada 4px, #dedede 7px);
}

body,
input {
    font-size: 18px;
    font-family: Lato, sans;
}

main {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

main:before {
    content: 'Match-match';
    font-family: 'Luckiest Guy', serif;
    font-size: 60px;
    text-transform: capitalize;
    margin: 20px;
}

main,
main>section,
.preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>section {
    /* background: inherit !important; */
    width: 800px;
    border-radius: 2px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 0px 4px 2px rgba(19, 35, 47, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    background: chocolate;
}

.login {
    background: lightgreen;
}

.menu {
    background: turquoise;
}

.game,
.result,
.menu {
    width: unset;
}

.preferences {
    background: cornflowerblue;
    border-radius: 3px;
    /* box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, .3); */
}

.difficulty {
    background: cadetblue;
}

.col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2,
h3 {
    font-family: "Roboto Slab";
    font-weight: 700;
}

.time {
    background: violet;
    font-size: 26px;
}

.hidden {
    display: none !important;
}

blockquote {
    padding: 0.5em .5em 0.5em 1em;
    font-style: italic;
    text-indent: 1.5em;
}

blockquote cite {
    display: block;
    text-align: right;
    margin-top: .5em;
}

.about li {
    -webkit-margin-start: 2em;
}

form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    color: white;
}

input {
    display: block;
    outline: 0;
    height: 2em;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0 1em;
    border: 0;
    border-radius: 4px;
    background: rgba(48, 84, 110, 0.9);
    font-family: inherit;
    color: white;
}

.player-name {
    font-size: 20px;
}

.flatten {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: auto;
    height: 2em;
    box-shadow: none;
    background: inherit;
}

/* game section */

.grid {
    width: 100%;
    /* outline: 2px green solid; */
    background: linear-gradient(160deg, #cdfffb 0%, #aa7ecd 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
}

.carousel {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carousel .card {
    cursor: pointer;
    transition: transform 0.25s;
    box-shadow: 1px 1px 4px 4px #4e4e4e61;
}

.carousel .card:hover {
    transform: scale(1.03);
}

.carousel .selected {
    box-shadow: 0px 0px 9px 3px rgba(220, 20, 60, 1);
}